body {
  background-image: url("https://wallpaperaccess.com/full/1540001.jpg");
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  font-size: 36px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;

  color: white;
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: linear-gradient(
    109.6deg,
    rgb(33, 25, 180) 11.2%,
    rgb(253, 29, 29) 55.2%,
    rgb(252, 176, 69) 91.1%
  );
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 70px;
  width: 70px;
}
.weather-temperature strong {
  color: ;
  font-size: 64px;
  color: #dadde1;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature span.units {
  position: relative;
  color: #dadde1;
  font-size: 18px;
  top: 2px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: white;
}

.weather-forecast-date {
  color: white;
  font-size: 18px;
}

.wearher-forecast-temperature-max {
  color: black;
}
.weather-forecast-temperatures {
  font-size: 15px;
}
small {
  color: #dadde1;
  font-size: larger;
}
.git-link {
  color: bisque;
}
